{% extends 'Dashboard/base.html' %} {% load static %}{% load spl%} {% block content %}

<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Blog Edit</h2>
                   
                </div>
            </div>
        </div>

    </div>
    <div class="content-body">
        <!-- Blog Edit -->
        <div class="blog-edit-wrapper">
            <div class="row">
            
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="avatar mr-75">
                                    <img src="{% static 'app-assets/images/portrait/small/avatar.jpg'%}" width="38" height="38" alt="Avatar" />
                                </div>
                                <div class="media-body">
                                    <h6 class="mb-25">{{user}}</h6>
                                    <p class="card-text">May 24, 2020</p>
                                </div>
                            </div>
                            <!-- Form -->
                            <form action="/manage/{{type}}/update/" method="post" id="change_form" enctype="multipart/form-data">
                             {% csrf_token %} 
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group mb-2">
                                        <label for="blog-edit-title">Title</label>
                                        <input type="text" id="blog-edit-title" name="blog-edit-title" class="form-control" value="{{post.Title}}" />
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group mb-2">
                                        <label for="blog-edit-slug">Slug</label>
                                        <input type="text" id="blog-edit-slug" name="blog-edit-slug" class="form-control" value="{{post.Slug}}" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group mb-2">
                                        <label for="blog-edit-status">Status</label>
                                        <select class="form-control" id="blog-edit-status" name="blog-edit-status" value="{{post.Status}}">
                                                    <option value="Published">Published</option>
                                                  
                                                    <option value="Draft">Draft</option>
                                                </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-2">
                                        <label>Content</label>
                                        <div id="blog-editor-wrapper">
                                            <div id="blog-editor-container">
                                                <div class="editor" id="text_edit" name="text_edit">
                                                    {{post.MainText|safe}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="main_text" id="main_text" value=""/>
                                <div class="col-12 mb-2">
                                    <div class="border rounded p-2">
                                        <h4 class="mb-1">Featured Image</h4>
                                        <div class="media flex-column flex-md-row">
                                            <img src="../../../../static/img/{{type}}/{{post.photo.url|cut}}" id="blog-feature-image" class="rounded mr-2 mb-1 mb-md-0" width="170" height="110" alt="Blog Featured Image" />
                                            <div class="media-body">
                                                <h5 class="mb-0">Main image:</h5>
                                                <small class="text-muted">Required image resolution 800x400, image size 10mb.</small>
                                                <p class="my-50">
                                                    <a href="javascript:void(0);"   id="blog-image-text">C:\fakepath\banner.jpg</a>
                                                </p>
                                                <div class="d-inline-block">
                                                    <div class="form-group mb-0">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="blogCustomFile" name="blogCustomFile" accept="image/*" />
                                                            <label class="custom-file-label" for="blogCustomFile">Choose file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-50">
                                    <button onclick="submit_change()" class="btn btn-primary mr-1">Save Changes</button>
                                    <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                                </div>
                            </div>
                            </form>
                            <!--/ Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Blog Edit -->


    </div>
</div>
{% endblock %} {% block scripts %}
<script src="{% static 'app-assets/vendors/js/editors/quill/katex.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/editors/quill/highlight.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/editors/quill/quill.min.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/forms/form-quill-editor.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/pages/page-blog-edit.js'%}"></script>
<script>


    function submit_change() {
        //    var Text = document.getElementById("text_edit")className.innerHTML;
        var Text = $("#text_edit .ql-editor").html();
        document.getElementById("main_text").value=Text;
        $( "#change_form" ).submit();

    }
</script>
{% endblock %}