<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Mountain html template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" >
 
    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="stylesheets/colors/color1.css" id="colors">

    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="icon/favicon.ico" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
</head>                                 
<body class="header-sticky">
    <div class="loader">
        <span class="loader1 block-loader"></span>
        <span class="loader2 block-loader"></span>
        <span class="loader3 block-loader"></span>
    </div>  
    <div class="site-wrapper">
        <!-- Header -->            
        <header id="header" class="header clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-wrap clearfix">
                            <div id="logo" class="logo">
                                <a href="index.html" rel="home">
                                    <img src="images/logo.svg" alt="image">
                                </a>
                            </div><!-- /.logo -->
                            <div class="nav-wrap">
                                <div class="btn-menu"></div><!-- //mobile menu button -->
                                <nav id="mainnav" class="mainnav">
                                    <ul class="menu"> 
                                        <li class="home">
                                            <a href="index.html">Demo</a>
                                            <ul class="submenu"> 
                                                <li><a href="index.html">Demo 1</a></li>
                                                <li><a href="index-v2.html">Demo 2</a></li>
                                                <li><a href="index-v3.html">Demo 3</a></li>
                                                <li><a href="index-v4.html">Demo 4</a></li>
                                            </ul><!-- /.submenu -->
                                        </li>
                                        <li><a href="#">My work</a>
                                            <ul class="submenu"> 
                                                <li class="sub-parent"><a href="#">Grid Simple Layout</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="grid-2-columns.html">Grid 2 columns</a></li>
                                                        <li><a href="grid-3-columns.html">Grid 3 columns</a></li>
                                                        <li><a href="grid-4-columns.html">Grid 4 columns</a></li>
                                                        <li><a href="grid-5-columns.html">Grid 5 columns</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                                <li class="sub-parent"><a href="#">Gallery Alt Layout</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="gallery-2-columns.html">Gallery 2 columns</a></li>
                                                        <li><a href="gallery-3-columns.html">Gallery 3 columns</a></li>
                                                        <li><a href="gallery-4-columns.html">Gallery 4 columns</a></li>
                                                        <li><a href="gallery-5-columns.html">Gallery 5 columns</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                                <li class="sub-parent"><a href="#">Grid Masonry Layout</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
                                                        <li><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
                                                        <li><a href="masonry-4-columns.html">Masonry 4 columns</a></li>
                                                        <li><a href="masonry-5-columns.html">Masonry 5 columns</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                                <li class="sub-parent"><a href="mywork-justify-layout.html">Justify Layout</a></li>
                                                <li class="sub-parent"><a href="#">Work Details</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="gallery-list.html">Gallery List</a></li>
                                                        <li><a href="gallery-grid.html">Gallery Grid</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                            </ul><!-- /.submenu -->
                                        </li>
                                        <li><a href="about.html">About Us</a></li>                  
                                        <li><a href="#">Journal</a>
                                            <ul class="submenu"> 
                                                <li class="sub-parent"><a href="#">Blog Grid / Masonry</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="blog-grid-masonry-2-columns.html">Grid 2 columns</a></li>
                                                        <li><a href="blog-grid-masonry-3-columns.html">Grid 3 columns</a></li>
                                                        <li><a href="blog-grid-masonry-4-columns.html">Grid 4 columns</a></li>
                                                        <li><a href="blog-grid-masonry-sidebar-right.html">With sidebar right</a></li>
                                                        <li><a href="blog-grid-masonry-sidebar-left.html">With sidebar left</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                                <li class="sub-parent"><a href="#">Blog Lager Image</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="blog-sidebar-right.html">With Sidebar Right</a></li>
                                                        <li><a href="blog-sidebar-left.html">With Sidebar Left</a></li>
                                                        <li><a href="blog-without-sidebar.html">Without Sidebar</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                                <li class="sub-parent"><a href="#">Pagination</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="pagination-page.html">Pager</a></li>
                                                        <li><a href="pagination-numeric.html">Numeric</a></li>
                                                        <li><a href="pagination-page-numeric.html">Pager &amp; Numeric</a></li>
                                                        <li><a href="pagination-loadmore.html">Load More</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                                <li class="sub-parent"><a href="#">Single Post</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="featured-header.html">Featured Image In Header</a></li>
                                                        <li><a href="featured-content.html">Featured Image In Content</a></li>
                                                        <li><a href="blog-single-without-sidebar.html">Without Sidebar</a></li>
                                                        <li><a href="blog-single-sidebar-right.html">With Sidebar Right</a></li>
                                                        <li><a href="blog-single-sidebar-left.html">With Sidebar Left</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                            </ul><!-- /.submenu -->
                                        </li>                         
                                        <li><a href="shoponline.html">Shop Online </a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul><!-- /.menu -->
                                </nav><!-- /.mainnav -->  
                            </div><!-- /.nav-wrap -->
                            <ul class="menu-extra">
                                <li class="shopping-cart">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="shopping-cart-items-count no-items"></span>
                                    </a>
                                    <div class="submenu">
                                        <div class="widget_shopping_cart_content">
                                            <ul class="cart_list product_list_widget ">
                                                <li>
                                                    <a href="#" class="box-img">
                                                        <img src="images/shop/11-180x180.jpg" alt="images">
                                                    </a>
                                                    <div class="content-box">
                                                        <a href="#">Aztec Print Socks
                                                        </a>
                                                        <span class="quantity">
                                                            2 × £20.00
                                                        </span>
                                                    </div>
                                                    <a href="#" class="delete-product">
                                                        x
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="box-img">
                                                        <img src="images/shop/4-180x180.jpg" alt="images">
                                                    </a>
                                                    <div class="content-box">
                                                        <a href="#">Embroidered Belt 
                                                        </a>
                                                        <span class="quantity">
                                                            2 × £35.00
                                                        </span>
                                                    </div>
                                                    <a href="#" class="delete-product">
                                                        x
                                                    </a>
                                                </li>
                                            </ul>
                                            <p class="total">
                                                <strong>Subtotal:</strong> 
                                                <span class="amount">£110.00</span>
                                            </p>
                                            <p class="wrap-buttons">
                                                <a href="#" class="button">
                                                    View Cart
                                                </a>
                                                <a href="#" class="link">Checkout</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                        
                                <li id ="s" class="search-box">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                    <div class="submenu">
                                        <div class="widget widget_search">
                                            <form role="search" method="get" class="search-form" action="#">
                                                <label>
                                                    <span class="screen-reader-text">Search for:</span>
                                                    <input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
                                                </label>
                                                <input type="submit" class="search-submit" value="Search">
                                            </form>
                                        </div>
                                    </div>
                                </li>
                        
                                <li class="off-canvas ">
                                    <a href="#"><i class="fa fa-bars"></i></a>
                                </li>
                            </ul>
                        </div><!-- /.header-wrap -->
                    </div>
                </div> <!-- /.row -->
            </div> <!--  /.container -->
        </header><!-- /.header -->

        <!-- Page title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">                    
                        <div class="page-title-heading">
                            <h1 class="title">WITH SIDEBAR RIGHT</h1>
                        </div><!-- /.page-title-captions --> 
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Welcome to our blog</a></li>
                                <li><a href="#">Blog Grid / Masonry</a></li>
                                <li><a href="#">With Sidebar Right</a></li>
                                <li class="active">Page 2</li>
                            </ul>                   
                        </div><!-- /.breadcrumbs --> 
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- /.page-title --> 

        <!-- Blog masonry sidebar right -->
        <section class="blog blog-masonry sidebar-right two-columns">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="wrap-entry-masonry">
                            <article class="entry style1">
                                <div class="entry-date">
                                    <span class="entry-month">Jun</span>
                                    <span class="entry-day"> 16</span>
                                    <span class="entry-year">2015</span>
                                </div>
                                <div class="feature-post">
                                    <a href="blog-single-without-sidebar.html" class="img-post"><img src="images/blog/13.jpg" alt="image"></a>
                                </div><!-- /.feature-post -->

                                <div class="main-post">
                                    <h2 class="entry-title"><a href="blog-single-without-sidebar.html">Sharing Visions of Toronto</a></h2>
                                    <div class="entry-content">Hello my name is Elie Kimbembe (@visionelie). I’m a 21-year-old artist specializing in photography and design from Toronto. My style is everything and...<div class="readmore"><a href="blog-single-without-sidebar.html" class="more-link">Read More</a></div>
                                    </div>
                                </div><!-- /.main-post -->
                            </article><!-- /.entry -->
                            <article class="entry style1">
                                <div class="entry-date">
                                    <span class="entry-month">Jun</span>
                                    <span class="entry-day"> 16</span>
                                    <span class="entry-year">2015</span>
                                </div>
                                <div class="feature-post">
                                    <a href="blog-single-without-sidebar.html" class="img-post"><img src="images/blog/1.jpg" alt="image"></a>
                                </div><!-- /.feature-post -->

                                <div class="main-post">
                                    <h2 class="entry-title"><a href="blog-single-without-sidebar.html">The New Normal</a></h2>
                                    <div class="entry-content">My husband tries to reason with me that I am in no condition to drive, but I am currently unreasonable and get in the car anyway. Somehow, I navigate ...<div class="readmore"><a href="blog-single-without-sidebar.html" class="more-link">Read More</a></div>
                                    </div>
                                </div><!-- /.main-post -->
                            </article><!-- /.entry -->
                            <article class="entry style1">
                                <div class="entry-date">
                                    <span class="entry-month">Jun</span>
                                    <span class="entry-day"> 16</span>
                                    <span class="entry-year">2015</span>
                                </div>
                                <div class="feature-post">
                                    <a href="blog-single-without-sidebar.html" class="img-post"><img src="images/blog/15.jpg" alt="image"></a>
                                </div><!-- /.feature-post -->

                                <div class="main-post">
                                    <h2 class="entry-title"><a href="blog-single-without-sidebar.html">When the Free ID Isn’t Free</a></h2>
                                    <div class="entry-content">Niki Ludt remembers getting her driver’s license. “You know,” she tells me over the phone, “When I went to get my driver’s license my mother said, ‘O...<div class="readmore"><a href="blog-single-without-sidebar.html" class="more-link">Read More</a></div>
                                    </div>
                                </div><!-- /.main-post -->
                            </article><!-- /.entry -->
                            <article class="entry style1">
                                <div class="entry-date">
                                    <span class="entry-month">Jun</span>
                                    <span class="entry-day"> 16</span>
                                    <span class="entry-year">2015</span>
                                </div>
                                <div class="feature-post">
                                    <a href="blog-single-without-sidebar.html" class="img-post"><img src="images/blog/14.jpg" alt="image"></a>
                                </div><!-- /.feature-post -->

                                <div class="main-post">
                                    <h2 class="entry-title"><a href="blog-single-without-sidebar.html">Hello, let’s talk about a park</a></h2>
                                    <div class="entry-content">Why giving civic space its indigenous name is everything and nothing I’m not usually one to quote books because I rarely remember them, but I’m going...<div class="readmore"><a href="blog-single-without-sidebar.html" class="more-link">Read More</a></div>
                                    </div>
                                </div><!-- /.main-post -->
                            </article><!-- /.entry -->
                        </div>
                        <div class="flat-pagination loop-pagination">
                            <a href="blog-grid-masonry-sidebar-right">
                                <i class="fa fa-angle-left"></i>
                            </a>       
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar">
                            <div id="search-2" class="widget widget_search">
                                <form role="search" method="get" class="search-form" action="#">
                                    <label>
                                        <span class="screen-reader-text">Search for:</span>
                                        <input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
                                    </label>
                                    <input type="submit" class="search-submit" value="Search">
                                </form>
                            </div> 
                            <div id="text-6" class="widget widget_text">
                                <h3 class="widget-title">About Mountain</h3>            
                                <div class="textwidget">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived</p>
                                    <a href="#" class="readmore">Read more</a>
                                </div>
                            </div>
                            <div id="jr_insta_slider-2" class="widget widget_instagram">
                                <h3 class="widget-title">Follow on Instagram</h3>
                                <div class="instagram-thumb">
                                    <ul class="no-bullet thumbnails jr_col_3">
                                        <li>
                                            <a href="#">
                                                <img src="images/widget/2.jpg" alt="images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="images/widget/9.jpg" alt="images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="images/widget/8.jpg" alt="images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="images/widget/4.jpg" alt="images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="images/widget/3.jpg" alt="images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="images/widget/7.jpg" alt="images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="images/widget/5.jpg" alt="images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="images/widget/1.jpg" alt="images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="images/widget/6.jpg" alt="images">
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div> 
                            <div id="tag_cloud-2" class="widget widget_tag_cloud">
                                <h3 class="widget-title">Tag Cloud</h3>
                                <div class="tagcloud">
                                    <a href="#">Artist</a>
                                    <a href="#">Bike</a>
                                    <a href="#">Design</a>
                                    <a href="#">Illustrator</a>
                                    <a href="#">Instagram</a>
                                    <a href="#">Lifestyle</a>
                                    <a href="#">Music</a>
                                    <a href="#">Photography</a>
                                    <a href="#">Road Trip</a>
                                    <a href="#">Travel</a>
                                    <a href="#">Vintage</a>
                                </div>
                            </div>
                            <div id="meta-2" class="widget widget_meta">
                                <h3 class="widget-title">Meta</h3>          
                                <ul>
                                    <li>
                                        <a href="#">Log in</a>
                                    </li>
                                    <li>
                                        <a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a>
                                    </li>
                                    <li>
                                        <a href=#>Comments <abbr title="Really Simple Syndication">RSS</abbr></a>
                                    </li>
                                    <li>
                                        <a href="#">WordPress.org</a>
                                    </li>           
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->   
        </section>

        <!-- Footer -->
        <div class="flat-footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="text-3" class="widget widget_text">            
                                <div class="textwidget">
                                    <img src="images/logo.svg" alt="Mountain">
                                </div>
                            </div>              
                        </div>
                    </div><!-- /.row -->
                 </div><!-- /.container -->
            </div><!-- /#page-footer -->

            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="social-links">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="copyright">
                                <div class="copyright-content">© Mountain 2015<span>•</span>15 Nicholson Street, New York   <span>•</span>   Tel: 1-888-345-6789<br>
                                    <span>Copyright © 2015 
                                        <a href="#">Themesflat</a>, Inc.</span> 
                                </div><!-- /.copyright-content -->
                            </div><!-- /.copyright -->
                        </div>
                    </div> <!-- /.row -->
                </div><!-- /.container -->
            </div>
        </div>
    </div><!-- /.site-wrapper -->

    <!-- Canvas -->
    <div id="off-canvas">
        <div class="off-canvas-wrap">
            <div id="text-5" class="widget widget_text">
                <h3 class="widget-title">About Mountain</h3>            
                <div class="textwidget">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived</p>
                    <div class="social-links">
                        <a target="_blank" href="https://twitter.com/themesflat">
                            <i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="https://facebook.com/themesflat"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-behance"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-rss"></i></a>
                    </div>
                </div>
            </div>      
        </div>
    </div>

    <!-- Go Top -->
    <a class="go-top">
    </a> 
    
    <!-- Javascript -->
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="javascript/jquery.magnific-popup.min.js"></script>    
    <script type="text/javascript" src="javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="javascript/imagesloaded.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>    
    <script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>