{% extends 'app_html/base.html' %}

{% load spl %} 
{% block main %}
        <div class="main">
        <!-- Page title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">                    
                        <div class="page-title-heading">
                            <h1 class="title">جلسات برگزار شده</h1>
                        </div><!-- /.page-title-captions --> 
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- /.page-title --> 

        <!-- Blog masonry 3 columns -->
        <section class="blog blog-masonry three-columns " >
            <div class="container">
                <div class="row">
                    <div class="wrap-entry-masonry">
                        {% for event in events %}
                        <article class="entry style1" >
                    
                            
                            <div class="feature-post">
                                <a href="/events/{{ event.Slug }}" class="img-post"><img src="../../static/img/events/{{event.photo.url|cut}}" alt="image"></a>
                            </div><!-- /.feature-post -->

                            <div class="main-post" style="direction:rtl;" >
                                <h2 class="entry-title"><a href="/news/{{ event.Slug }}">{{event.Title}}</a></h2>
                                <div class="entry-content">{{event.Brief}}<div class="readmore"><a href="/news/{{ event.Slug }}" class="more-link">بیشتر</a></div>
                                </div>
                            </div><!-- /.main-post -->
                        </article><!-- /.entry -->
                        {% endfor %}
                    </div>
                    <div class="flat-pagination page numeric">
                        <ul>
                            
                            {% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
                           
                    
                    {% if number < 7 and number > 0 %}
                        {% with ''|center:number as range %}
                            {% for r in range %}
                                <li> <a href="?page={{forloop.counter}} ">{{forloop.counter}}</a></li>

                
                                
                            {% endfor %}    
                        {% endwith %}    
                    
                    {% else %}
                                <li> <a href="?page=1 ">1</a></li>
                               <li>...</li> 

                    {% endif %}
                    
                     <li><a class="next" href="#">></a></li>
                        </ul>     
                    </div>
                </div><!-- /.row -->
                <div class="row">
                    <div class="flat-divider d50px"></div>
                </div>
            </div><!-- /.container -->   
        </section>
</div >
        {% endblock %}
