{% extends 'app_html/base.html' %}
{% load static %}
{% load spl %} 

{% block main %}
<div class="page-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-heading">
                                <h1 class="title">جلسات برگزار شده</h1>
                            </div><!-- /.page-title-captions --> 
        
                        </div><!-- /.col-md-12 -->  
                    </div><!-- /.row -->  
                </div><!-- /.container -->                       
            </div>

        <section class="gallery-alt-layout" style="direction:rtl;">
            <div class="container">
                <div class="row" style="direction:rtl;">
                    <div class="flat-project flat-animation" data-animation="bounceInDown" data-animation-delay="0" data-animation-offset="75%">
                        <div class="controlnav-folio">
                            <a class="projects-filter-toggler">
                                <span>Toggle Filter</span>
                            </a>
                            <ul class="project-filter">
                                <li class="active"><a data-filter="*" href="#">All</a></li>
                                <li><a data-filter=".design" href="#">Design</a></li>
                                <li><a data-filter=".handmade" href="#">Handmade</a></li>
                                <li><a data-filter=".startup" href="#">Startup</a></li>
                                <li><a data-filter=".photography" href="#">Photography</a></li>
                            </ul><!-- /.project-filter -->
                        </div>
                        {% for event in events%}
                        <div class="project-wrap five-columns " style="direction:rtl;">
                            <div class="entry project-item design">
                                <div class="item-wrap">
                                    <div class="project-thumb">
                                        <a href="/events/{{ event.Slug }}">
                                            <img src="../../static/img/events/{{event.photo.url|cut}}" alt="image">
                                        </a>
                                    </div>
                                    <div class="project-info">
                                        <div class="project-info-wrap">
                                            <h3 class="project-title">
                                                <a href="/events/{{ event.Slug }}">{{event.Title}}</a>
                                            </h3>
                                            <ul class="project-categories">
                                                <li><a href="/events/{{ event.Slug }}">{{event.author}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.item-wrap -->
                            </div><!-- /.project-item -->

                        {% endfor  %}
                        </div><!-- /.project-wrap -->
                    </div><!-- /.flat-project -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
            
 
    <!-- Go Top -->
    <a class="go-top">
    </a> 
{% endblock %}
    <!-- Javascript -->
{% block scripts %}

    <script type="text/javascript" src="{% static 'javascript/owl.carousel.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/smoothscroll.js'%}"></script>    
    <script type="text/javascript" src="{% static 'javascript/parallax.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery-waypoints.js'%}"></script>

    <!-- Revolution Slider -->
    <script type="text/javascript" src="{% static 'javascript/jquery.themepunch.tools.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery.themepunch.revolution.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/slider.js'%}"></script>

{% endblock %}