<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Mountain html template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" >
 
    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="stylesheets/colors/color1.css" id="colors">
    
    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="icon/favicon.ico" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
</head>                                 
<body class="header-sticky">
    <div class="loader">
        <span class="loader1 block-loader"></span>
        <span class="loader2 block-loader"></span>
        <span class="loader3 block-loader"></span>
    </div>  
    <div class="site-wrapper ">
        <!-- Wrap-slide -->
        <div class="wrap-slider featured-images-in-header">
            <!-- Header -->            
            <header id="header" class="header clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-wrap clearfix">
                                <div id="logo" class="logo">
                                    <a href="index.html" rel="home">
                                        <img src="images/logo.svg" alt="image">
                                    </a>
                                </div><!-- /.logo -->
                                <div class="nav-wrap">
                                    <div class="btn-menu"></div><!-- //mobile menu button -->
                                    <nav id="mainnav" class="mainnav">
                                        <ul class="menu"> 
                                            <li class="home">
                                                <a href="index.html">Demo</a>
                                                <ul class="submenu"> 
                                                    <li><a href="index.html">Demo 1</a></li>
                                                    <li><a href="index-v2.html">Demo 2</a></li>
                                                    <li><a href="index-v3.html">Demo 3</a></li>
                                                    <li><a href="index-v4.html">Demo 4</a></li>
                                                </ul><!-- /.submenu -->
                                            </li>
                                            <li><a href="#">My work</a>
                                                <ul class="submenu"> 
                                                    <li class="sub-parent"><a href="#">Grid Simple Layout</a>
                                                        <ul class="submenu"> 
                                                            <li><a href="grid-2-columns.html">Grid 2 columns</a></li>
                                                            <li><a href="grid-3-columns.html">Grid 3 columns</a></li>
                                                            <li><a href="grid-4-columns.html">Grid 4 columns</a></li>
                                                            <li><a href="grid-5-columns.html">Grid 5 columns</a></li>
                                                        </ul><!-- /.submenu -->
                                                    </li>
                                                    <li class="sub-parent"><a href="#">Gallery Alt Layout</a>
                                                        <ul class="submenu"> 
                                                            <li><a href="gallery-2-columns.html">Gallery 2 columns</a></li>
                                                            <li><a href="gallery-3-columns.html">Gallery 3 columns</a></li>
                                                            <li><a href="gallery-4-columns.html">Gallery 4 columns</a></li>
                                                            <li><a href="gallery-5-columns.html">Gallery 5 columns</a></li>
                                                        </ul><!-- /.submenu -->
                                                    </li>
                                                    <li class="sub-parent"><a href="#">Grid Masonry Layout</a>
                                                        <ul class="submenu"> 
                                                            <li><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
                                                            <li><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
                                                            <li><a href="masonry-4-columns.html">Masonry 4 columns</a></li>
                                                            <li><a href="masonry-5-columns.html">Masonry 5 columns</a></li>
                                                        </ul><!-- /.submenu -->
                                                    </li>
                                                    <li class="sub-parent"><a href="mywork-justify-layout.html">Justify Layout</a></li>
                                                    <li class="sub-parent"><a href="#">Work Details</a>
                                                        <ul class="submenu"> 
                                                            <li><a href="gallery-list.html">Gallery List</a></li>
                                                            <li><a href="gallery-grid.html">Gallery Grid</a></li>
                                                        </ul><!-- /.submenu -->
                                                    </li>
                                                </ul><!-- /.submenu -->
                                            </li>
                                            <li><a href="about.html">About Us</a></li>                  
                                            <li><a href="#">Journal</a>
                                                <ul class="submenu"> 
                                                    <li class="sub-parent"><a href="#">Blog Grid / Masonry</a>
                                                        <ul class="submenu"> 
                                                            <li><a href="blog-grid-masonry-2-columns.html">Grid 2 columns</a></li>
                                                            <li><a href="blog-grid-masonry-3-columns.html">Grid 3 columns</a></li>
                                                            <li><a href="blog-grid-masonry-4-columns.html">Grid 4 columns</a></li>
                                                            <li><a href="blog-grid-masonry-sidebar-right.html">With sidebar right</a></li>
                                                            <li><a href="blog-grid-masonry-sidebar-left.html">With sidebar left</a></li>
                                                        </ul><!-- /.submenu -->
                                                    </li>
                                                    <li class="sub-parent"><a href="#">Blog Lager Image</a>
                                                        <ul class="submenu"> 
                                                            <li><a href="blog-sidebar-right.html">With Sidebar Right</a></li>
                                                            <li><a href="blog-sidebar-left.html">With Sidebar Left</a></li>
                                                            <li><a href="blog-without-sidebar.html">Without Sidebar</a></li>
                                                        </ul><!-- /.submenu -->
                                                    </li>
                                                    <li class="sub-parent"><a href="#">Pagination</a>
                                                        <ul class="submenu"> 
                                                            <li><a href="pagination-page.html">Pager</a></li>
                                                            <li><a href="pagination-numeric.html">Numeric</a></li>
                                                            <li><a href="pagination-page-numeric.html">Pager &amp; Numeric</a></li>
                                                            <li><a href="pagination-loadmore.html">Load More</a></li>
                                                        </ul><!-- /.submenu -->
                                                    </li>
                                                    <li class="sub-parent"><a href="#">Single Post</a>
                                                        <ul class="submenu"> 
                                                            <li><a href="featured-header.html">Featured Image In Header</a></li>
                                                            <li><a href="featured-content.html">Featured Image In Content</a></li>
                                                            <li><a href="blog-single-without-sidebar.html">Without Sidebar</a></li>
                                                            <li><a href="blog-single-sidebar-right.html">With Sidebar Right</a></li>
                                                            <li><a href="blog-single-sidebar-left.html">With Sidebar Left</a></li>
                                                        </ul><!-- /.submenu -->
                                                    </li>
                                                </ul><!-- /.submenu -->
                                            </li>                         
                                            <li><a href="shoponline.html">Shop Online </a></li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                        </ul><!-- /.menu -->
                                    </nav><!-- /.mainnav -->  
                                </div><!-- /.nav-wrap -->
                                <ul class="menu-extra">
                                    <li class="shopping-cart">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="shopping-cart-items-count no-items"></span>
                                        </a>
                                        <div class="submenu">
                                            <div class="widget_shopping_cart_content">
                                                <ul class="cart_list product_list_widget ">
                                                    <li>
                                                        <a href="#" class="box-img">
                                                            <img src="images/shop/11-180x180.jpg" alt="images">
                                                        </a>
                                                        <div class="content-box">
                                                            <a href="#">Aztec Print Socks
                                                            </a>
                                                            <span class="quantity">
                                                                2 × £20.00
                                                            </span>
                                                        </div>
                                                        <a href="#" class="delete-product">
                                                            x
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="box-img">
                                                            <img src="images/shop/4-180x180.jpg" alt="images">
                                                        </a>
                                                        <div class="content-box">
                                                            <a href="#">Embroidered Belt 
                                                            </a>
                                                            <span class="quantity">
                                                                2 × £35.00
                                                            </span>
                                                        </div>
                                                        <a href="#" class="delete-product">
                                                            x
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="total">
                                                    <strong>Subtotal:</strong> 
                                                    <span class="amount">£110.00</span>
                                                </p>
                                                <p class="wrap-buttons">
                                                    <a href="#" class="button">
                                                        View Cart
                                                    </a>
                                                    <a href="#" class="link">Checkout</a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                            
                                    <li id ="s" class="search-box">
                                        <a href="#"><i class="fa fa-search"></i></a>
                                        <div class="submenu">
                                            <div class="widget widget_search">
                                                <form role="search" method="get" class="search-form" action="#">
                                                    <label>
                                                        <span class="screen-reader-text">Search for:</span>
                                                        <input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
                                                    </label>
                                                    <input type="submit" class="search-submit" value="Search">
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                            
                                    <li class="off-canvas ">
                                        <a href="#"><i class="fa fa-bars"></i></a>
                                    </li>
                                </ul>
                            </div><!-- /.header-wrap -->
                        </div>
                    </div> <!-- /.row -->
                </div> <!--  /.container -->
            </header><!-- /.header -->
                    
            <!-- Page title -->
            <div class="page-title style1 parallax parallax4">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">    
                            <div class="page-title-heading">
                                <h1 class="title">GOING AGAINST THE GRAIN</h1>
                            </div><!-- /.page-title-captions --> 
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">2015</a></li>
                                    <li><a href="#">June</a></li>
                                    <li><a href="#">16</a></li>
                                    <li class="active">Going Against the Grain</li>
                                </ul>                   
                            </div><!-- /.breadcrumbs --> 
                        </div><!-- /.col-md-12 -->  
                    </div><!-- /.row -->  
                </div><!-- /.container -->                         
            </div><!-- /.page-title --> 
        </div> <!-- /.wrap-slider -->

        <!-- Blog single -->
        <section class="blog blog-single without-sidebar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-wrap">
                            <article class="entry">
                                <div class="entry-wrapper">
                                    <div class="entry-content">
                                        <p><span class="dropcap">O</span>n a Saturday night this past spring, screeching dissonant guitars and a clashing, heavy-handed beat could be heard filling a dark bar in downtown Oakland. If one were to have peaked their head in, they would have been surprised to find the noise coming from just two people: drummer Ignat Frege (@hand_model) and multi-instrumentalist Felix Skinner (@felixskinner).
                                        </p>
                                        <p>The two make up Wreck and Reference, a metal band from Los Angeles that defies most of the traditional trappings of metal bands. There is no guitar on stage, no bassist. Only two musicians, one of who, Felix, elicits piercing, guttural screams into the microphone while striking the pads on an electronic sampler strapped around his neck.
                                        
                                            <img class="alignnone" src="images/blog/1.jpg" alt="images">
                                        
                                        “It was clear early on that the possibilities that it provided were limitless, that it would allow us to run with any mad idea we had,” says Felix, 28, about his use of a tool more closely aligned with electronic and hip-hop music than metal. “We’re typically drawn to sounds that aren’t traceable, that require a bit of wrangling and warping to make just right.”
                                        </p>
                                        <p>
                                            Growing up in the San Francisco Bay Area, Felix began taking guitar lessons at the age of 10. But he was more intrigued in going against the grain with his music than submitting to any prescribed notion of what things were supposed to sound like. He refused to practice the Dave Matthews Band songs his teacher asked him to memorize.
                                       
                                            <img class="alignnone" src="images/blog/15.jpg" alt="images">
                                        “I was more interested in the strange sounds I could create by hitting the parts of the guitar I was told not to, using my pick to scrape instead of pluck,” he says. “In retrospect, it’s clear this was just a way for me to cope with the fact that my fingers never did what I wanted them to.”</p>
                                        <p>The harsh, unforgiving tones that would eventually make up the sounds of Wreck and Reference go hand-in-hand with the photos Felix likes to take: haunting, captionless images tinted black and gray and red. But when it comes to writing music, it’s more about sensations than images for him, creating songs about unsettling feelings. It’s about tapping into an emotion, no matter if the sound that comes out fits into someone’s built-up perception of a musical genre.</p>
                                        <p>“We’re just as averse to being a ‘synth band’ or an ‘electronic band’ as we are to being a ‘guitar band,’” he says. “As soon as we find ourselves in a box like that we’re overcome by the urge to kick our way out.”</p>

                                    </div><!-- /entry-content -->
                                </div>
                                <div class="entry-footer">
                                    <div class="entry-tags">
                                        <a href="#">Music</a> 
                                        <a href="#">Photography</a>               
                                    </div>
                                </div>
                            </article><!-- /.entry -->
                            <div class="navigation post-navigation">
                                <ul class="nav-links">
                                    <li class="previous-post">
                                        <a href="#" rel="prev">
                                        <span class="meta-nav">Previous Post</span> 
                                        Living Your Own Fairytale</a>
                                    </li>
                                    <li class="next-post">
                                        <a href="#" rel="next"><span class="meta-nav">Next Post</span> Wrapping Stories Around</a>
                                    </li>  
                                </ul><!-- .nav-links -->
                            </div>
                            <div id="respond" class="comment-respond">
                                <h3 class="title comment-title">Leave a Reply</h3>
                                <form action="#" method="post" id="commentform" class="comment-form" novalidate=""> 
                                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>                     
                                    <div class="comment-infor">
                                        <fieldset class="name-container">
                                        
                                            <input type="text" id="author" placeholder="Name"  class="tb-my-input" name="author" tabindex="1" value="" size="32" aria-required="true">
                                        </fieldset>
                                        
                                        <fieldset class="email-container">
                                            
                                            <input type="text" id="email" 
                                            placeholder="Email" class="tb-my-input" name="email" tabindex="2" value="" size="32" aria-required="true">
                                        </fieldset> 
                                        <fieldset class="email-container">
                                            
                                            <input type="text" id="website" placeholder="Website" class="tb-my-input" name="email" tabindex="2" value="" size="32" aria-required="true">
                                        </fieldset>
                                    </div>
                                    <div class="comment-message">
                                        <fieldset class="message">
                                            <textarea id="comment-message" name="comment" rows="8" tabindex="4"></textarea>
                                        </fieldset>
                                    </div>
                                    
                                    <p class="form-submit">
                                    <input name="submit" type="submit" id="comment-reply" class="submit" value="Post Comment"> 
                                    <input type="hidden" name="comment_post_ID" value="27" id="comment_post_ID">
                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                        </p>                
                                </form>
                            </div><!-- /#respond -->
                        </div><!-- /.post-wrap -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->   
        </section>

        <section class="flat-row blog related-post">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="box-title">Related Posts</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="slider-entry">
                            <div id="flat-entry-carousel">
                                <article class="entry style1">
                                    <div class="entry-date">
                                        <span class="entry-month">Jun</span>
                                        <span class="entry-day"> 16</span>
                                        <span class="entry-year">2015</span>
                                    </div>
                                    <div class="feature-post">
                                        <a href="#" class="img-post"><img src="images/blog-single/11-585x312.jpg" alt="image"></a>
                                    </div><!-- /.feature-post -->

                                    <div class="main-post">
                                        <h2 class="entry-title"><a href="#">The Artisanal Cheese Alchemy</a></h2>
                                        <div class="entry-content">At Sugar House Creamery, a tiny dairy farm tucked in New York’s Adirondack Mountains, it’s all about..<div class="readmore"><a href="#" class="more-link">Continue Read</a></div>
                                        </div>
                                    </div><!-- /.main-post -->
                                </article><!-- /.entry -->
                           
                                <article class="entry style1">
                                    <div class="entry-date">
                                        <span class="entry-month">Jun</span>
                                        <span class="entry-day"> 16</span>
                                        <span class="entry-year">2015</span>
                                    </div>
                                    <div class="feature-post">
                                        <a href="#" class="img-post"><img src="images/blog-single/8-585x312.jpg" alt="image"></a>
                                    </div><!-- /.feature-post -->

                                    <div class="main-post">
                                        <h2 class="entry-title"><a href="#">A Sketch a Day with Illustrator</a></h2>
                                        <div class="entry-content">When your job is to create lots of drawings on a daily basis, you almost never get yourself to pract...<div class="readmore"><a href="#" class="more-link">Continue Read</a></div>
                                        </div>
                                    </div><!-- /.main-post -->
                                </article><!-- /.entry -->
                           
                                <article class="entry style1">
                                    <div class="entry-date">
                                        <span class="entry-month">Jun</span>
                                        <span class="entry-day"> 16</span>
                                        <span class="entry-year">2015</span>
                                    </div>
                                    <div class="feature-post">
                                        <a href="#" class="img-post"><img src="images/blog-single/10-585x312.jpg" alt="image"></a>
                                    </div><!-- /.feature-post -->

                                    <div class="main-post">
                                        <h2 class="entry-title"><a href="#">Wrapping Stories Around</a></h2>
                                        <div class="entry-content">People often ask me, ‘What’s the story about the tree?’ If there is one, then I’m writing it right n...<div class="readmore"><a href="#" class="more-link">Continue Read</a></div>
                                        </div>
                                    </div><!-- /.main-post -->
                                </article><!-- /.entry -->
                          
                                <article class="entry style1">
                                    <div class="entry-date">
                                        <span class="entry-month">Jun</span>
                                        <span class="entry-day"> 16</span>
                                        <span class="entry-year">2015</span>
                                    </div>
                                    <div class="feature-post">
                                        <a href="#" class="img-post"><img src="images/blog-single/5-585x312.jpg" alt="image"></a>
                                    </div><!-- /.feature-post -->

                                    <div class="main-post">
                                        <h2 class="entry-title"><a href="#">Touring Europe by Bike</a></h2>
                                        <div class="entry-content">To keep up with Tristan’s two-wheeled When you’re born Dutch, you learn cycling from a young age, a...<div class="readmore"><a href="#" class="more-link">Continue Read</a></div>
                                        </div>
                                    </div><!-- /.main-post -->
                                </article><!-- /.entry -->
                          
                                <article class="entry style1">
                                    <div class="entry-date">
                                        <span class="entry-month">Jun</span>
                                        <span class="entry-day"> 16</span>
                                        <span class="entry-year">2015</span>
                                    </div>
                                    <div class="feature-post">
                                        <a href="#" class="img-post"><img src="images/blog-single/6-585x312.jpg" alt="image"></a>
                                    </div><!-- /.feature-post -->

                                    <div class="main-post">
                                        <h2 class="entry-title"><a href="#">Capturing the Future Now</a></h2>
                                        <div class="entry-content">I am personally interested in random places that have the ‘Blade Runner’ feel,” says Ryan Allen, a P...<div class="readmore"><a href="#" class="more-link">Continue Read</a></div>
                                        </div>
                                    </div><!-- /.main-post -->
                                </article><!-- /.entry -->
                         
                                <article class="entry style1">
                                    <div class="entry-date">
                                        <span class="entry-month">Jun</span>
                                        <span class="entry-day"> 16</span>
                                        <span class="entry-year">2015</span>
                                    </div>
                                    <div class="feature-post">
                                        <a href="#" class="img-post"><img src="images/blog-single/9-585x312.jpg" alt="image"></a>
                                    </div><!-- /.feature-post -->

                                    <div class="main-post">
                                        <h2 class="entry-title"><a href="#">Going Against the Grain</a></h2>
                                        <div class="entry-content">On a Saturday night this past spring, screeching dissonant guitars and a clashing, heavy-handed beat...<div class="readmore"><a href="#" class="more-link">Continue Read</a></div>
                                        </div>
                                    </div><!-- /.main-post -->
                                </article><!-- /.entry -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="flat-footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="text-3" class="widget widget_text">            
                                <div class="textwidget">
                                    <img src="images/logo.svg" alt="Mountain">
                                </div>
                            </div>              
                        </div>
                    </div><!-- /.row -->
                 </div><!-- /.container -->
            </div><!-- /#page-footer -->

            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="social-links">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="copyright">
                                <div class="copyright-content">© Mountain 2015<span>•</span>15 Nicholson Street, New York   <span>•</span>   Tel: 1-888-345-6789<br>
                                    <span>Copyright © 2015 
                                        <a href="#">Themesflat</a>, Inc.</span> 
                                </div><!-- /.copyright-content -->
                            </div><!-- /.copyright -->
                        </div>
                    </div> <!-- /.row -->
                </div><!-- /.container -->
            </div>
        </div>
    </div>  <!-- /.site-wrapper -->

    <!-- Canvas -->
    <div id="off-canvas">
        <div class="off-canvas-wrap">
            <div id="text-5" class="widget widget_text">
                <h3 class="widget-title">About Mountain</h3>            
                <div class="textwidget">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived</p>
                    <div class="social-links">
                        <a target="_blank" href="https://twitter.com/themesflat">
                            <i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="https://facebook.com/themesflat"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-behance"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-rss"></i></a>
                    </div>
                </div>
            </div>      
        </div>
    </div>

    <!-- Go Top -->
    <a class="go-top">
    </a> 
    
    <!-- Javascript -->
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="javascript/jquery.magnific-popup.min.js"></script>    
    <script type="text/javascript" src="javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="javascript/parallax.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>    
    <script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>