 {% extends 'app_html/base.html' %} {% load spl %} {% load static %}
<!-- Main Section -->
{% block content %}
<main class="uk-width-large-7-10 gb-main" dir="rtl">
    <div class="gb-post-index">


        <!-- Article -->
        {% for p in post %} {% if p.Status == "p" %}

        <article class="gb-post-index__single">
            <div class="uk-grid uk-grid-medium">

                <!-- Article Thumbnail -->
                <div class="uk-width-small-1-1 uk-width-medium-2-6 uk-width-large-3-10">
                    <a href="{{p.Slug}}" title="Nature Inspired Code Snippets">

                        <img id={{p.Title}} src="../../static/img/post/{{p.photo.url|cut}}" alt="Nature Inspired Code Snippets" />
                    </a>
                </div>
                <!-- / Article Thumbnail -->

                <!-- Article Body -->
                <div class="uk-width-small-1-1 uk-width-medium-4-6 uk-width-large-7-10">
                    <h2>
                        <!-- Article Title -->
                        <a href="{{ p.Slug }}" title="Nature Inspired Code Snippets">{{ p.Title }}</a>
                    </h2>

                    <!-- Article Date + Category -->
                    <div class="uk-clearfix meta">
                        <div class="uk-float-left">نویسنده : <a href="archive-authors.html" title="Author: Anonymous">{{p.author}}</a>| در تاریخ {{ p.date | date:"d / m / Y" }} </div>
                        <div class="uk-float-right"><a href="archive-categories.html" title="Category: Freelance">{{p.PostTag}}</a></div>
                    </div>
                    <!-- / Article Date + Category -->

                    <!-- Article Description -->
                    <p>{{ p.Brief }}</p>
                </div>
                <!-- / Article Body -->

            </div>
        </article>
        {% endif %} {% endfor %}
        <!-- / Article -->



        <!-- Pagination -->
        <div class="gb-pager">

            <!-- UIKit Pagination: getuikit.com/v2/docs/pagination.html  -->
            <ul class="uk-pagination">


                <!-- Previous -->
                <li style="padding-left: 5px;">
                    <a href="?page=1"><i class="uk-icon-angle-double-right"> نخست</i></a>
                </li>
                <!-- / Previous -->

                <!-- Numbered -->
                {% with ''|center:number as range %} {% for r in range %}
                <li> <a href="?page={{forloop.counter}} ">{{forloop.counter}}</a></li>

                {% endfor %} {% endwith %}


                <!-- Next -->
                {% if number > 2 %}
                <li class="uk-active"><span>...</span></li>
                {% endif %} {% if number > 1 %}

                <li> <a href="?page={{number}}"><i > ( صفحه آخر {{number}} )</i></a>
                </li>
                {% endif %}
                <!-- / Next -->
            </ul>

        </div>
        <!-- / Pagination -->


</main>

{% endblock %}