<!-- / Site's Header -->
{% extends 'app_html/base.html' %} {% block content %}
<!-- Site's Content: Main + Sidebar -->
{% for post in Postblog %}
<!-- Main Section -->
<main class="uk-width-large-7-10 gb-main" dir="rtl">
    <div class="gb-post-single">

        <!-- Article / Post Body -->
        <article class="gb-post-single__content">


            <!-- Article / Post Title -->
            <h2>
                {{ post.Title }}
            </h2>
            <!-- / Article / Post Title -->

            <!-- Article / Post Meta -->
            <div class="uk-clearfix meta">
                <div class="uk-float-left">نویسنده : <a href="archive-authors.html" title="Author: Anonymous">{{ post.author}}</a> | در تاریخ {{ post.date | date:"d / m / Y" }}</div>
                <div class="uk-float-right"><a href="archive-categories.html" title="Category: Freelance">{{ Postblog.PostTag }}</a></div>
            </div>
            <!-- / Article / Post Meta -->

            <!-- Article / Post Content -->
            <div class="post-content">
                <p>
                    {{post.MainText}}
                </p>
            </div>
            <!-- / Article / Post Content -->

        </article>
        <!-- / Article / Post Body -->

        <!-- Related Posts -->


        <!-- <div class="gb-post-single__related">
                        <h2>Related Posts</h2>

                        <ul class="related-posts">
                            <li><a href="post.html" title="Presentations on the Future of CSS">Presentations on the Future of CSS</a></li>
                            <li><a href="post.html" title="Material Design Code Snippets">Material Design Code Snippets</a></li>
                            <li><a href="post.html" title="Apps for Working With CSS">Apps for Working With CSS</a></li>
                            <li><a href="post.html" title="Custom Open Source File Upload Field">Custom Open Source File Upload Field</a></li>
                            <li><a href="post.html" title="Creative Code Examples of Media Player Design">Creative Code Examples of Media Player Design</a></li>
                        </ul>
                    </div> -->


        <!-- / Related Posts -->

        <!-- Tags -->


        <!-- <div class="gb-post-single__tags">
                        Tags: <a href="archive-tags.html" rel="tag">CSS</a>, <a href="archive-tags.html" rel="tag">HTML</a>, <a href="archive-tags.html" rel="tag">JavaScript</a>
                    </div> -->


        <!-- / Tags -->

        <!-- Comments -->

        <!-- <div class="gb-post-single__comments">
                        <h2>Comments</h2>

                        <div id="disqus_thread"></div>


                    </div> -->
        <!-- / Comments -->

    </div>
</main>
{% endfor %} {% endblock %}
<!-- / Main Section -->