<!DOCTYPE html>

<html lang="en">

<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>FSF Developer Blog</title>

    <!-- CSS Assets -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700%7CNunito:700,800" rel="stylesheet" type="text/css">
    <link href="{% static 'css/uikit.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

    <!-- JS Assets -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'js/uikit.min.js' %}"></script>
</head>

<body>
    <!-- Top Navigation Bar -->
    <nav class="gb-topnav">
        <ul class="gb-container gb-topnav__links" dir="rtl">



            <!-- Social Media Buttons -->
            <li>
                <a href="index.html">خانه</a>
            </li>

            <li>
                <a href="archive-categories.html" class="uk-hidden-small">موضوعات</a>
            </li>


            <li>
                <!-- Twitter -->
                <a href="#" class="uk-hidden-small">
                    <i class="uk-icon-twitter"></i>
                </a>
            </li>



            <li>
                <!-- Facebook -->
                <a href="#" class="uk-hidden-small">
                    <i class="uk-icon-github"></i>
                </a>
            </li>


            <!-- / Social Media Buttons -->

            <!-- Display Mobile Menu Button -->
            <li>
                <a href="#mobile-menu" class="uk-visible-small" data-uk-offcanvas>
                    <i class="uk-icon-bars"></i>
                </a>
            </li>


            <!-- / Display Mobile Menu Button -->
        </ul>
    </nav>
    <!-- / Top Navigation Bar -->

    <div class="gb-container">

        <!-- Site's Header -->
        <header class="gb-header" dir="rtl">
            <div class="uk-grid uk-grid-small">

                <!-- Header Left: Branding / Logo -->
                <div class="uk-width-medium-2-3">
                    <h1 class="gb-site-title">
                        <!-- Site Title -->
                        <a href="/" title="گروه کاربران لینوکس سبزوار"><span>لاگ</span>‌<span>سبزوار</span></a>
                    </h1>
                </div>
                <!-- / Header Left: Branding / Logo -->

                <!-- Header Right: Search -->
                <div class="uk-width-medium-1-3">

                    <!-- Searchform -->
                    <form class="uk-form gb-searchform" action="archive-search.html" id="searchform" method="get">
                        <div class="uk-grid uk-grid-collapse">
                            <div class="uk-width-8-10">
                                <input type="text" placeholder="جستجو ..." class="uk-width-1-1">
                            </div>
                            <div class="uk-width-2-10">
                                <button class="uk-width-1-1 uk-button uk-button-primary" id="searchsubmit" type="submit"><i class="uk-icon-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <!-- / Searchform -->

                </div>
                <!-- / Header Right: Search -->

            </div>
        </header>

        <!-- / Site's Header -->
        {% for post in Postblog %}
        <!-- Site's Content: Main + Sidebar -->
        <div class="uk-grid uk-grid-medium gb-content">

            <!-- Main Section -->
            <main class="uk-width-large-7-10 gb-main" dir="rtl">
                <div class="gb-post-single">

                    <!-- Article / Post Body -->
                    <article class="gb-post-single__content">


                        <!-- Article / Post Title -->
                        <h2>
                            {{ post.Title }}
                        </h2>
                        <!-- / Article / Post Title -->

                        <!-- Article / Post Meta -->
                        <div class="uk-clearfix meta">
                            <div class="uk-float-left">نویسنده : <a href="archive-authors.html" title="Author: Anonymous">{{ post.author}}</a> | در تاریخ {{ post.date | date:"d / m / Y" }}</div>
                            <div class="uk-float-right"><a href="archive-categories.html" title="Category: Freelance">{{ Postblog.PostTag }}</a></div>
                        </div>
                        <!-- / Article / Post Meta -->

                        <!-- Article / Post Content -->
                        <div class="post-content">
                            <p>
                                {{post.MainText}}
                            </p>
                        </div>
                        <!-- / Article / Post Content -->

                    </article>
                    <!-- / Article / Post Body -->

                    <!-- Related Posts -->


                    <!-- <div class="gb-post-single__related">
                        <h2>Related Posts</h2>

                        <ul class="related-posts">
                            <li><a href="post.html" title="Presentations on the Future of CSS">Presentations on the Future of CSS</a></li>
                            <li><a href="post.html" title="Material Design Code Snippets">Material Design Code Snippets</a></li>
                            <li><a href="post.html" title="Apps for Working With CSS">Apps for Working With CSS</a></li>
                            <li><a href="post.html" title="Custom Open Source File Upload Field">Custom Open Source File Upload Field</a></li>
                            <li><a href="post.html" title="Creative Code Examples of Media Player Design">Creative Code Examples of Media Player Design</a></li>
                        </ul>
                    </div> -->


                    <!-- / Related Posts -->

                    <!-- Tags -->


                    <!-- <div class="gb-post-single__tags">
                        Tags: <a href="archive-tags.html" rel="tag">CSS</a>, <a href="archive-tags.html" rel="tag">HTML</a>, <a href="archive-tags.html" rel="tag">JavaScript</a>
                    </div> -->


                    <!-- / Tags -->

                    <!-- Comments -->

                    <!-- <div class="gb-post-single__comments">
                        <h2>Comments</h2>

                        <div id="disqus_thread"></div>


                    </div> -->
                    <!-- / Comments -->

                </div>
            </main>
            <!-- / Main Section -->

            <!-- Sidebar -->
            <aside class="uk-width-large-3-10 gb-sidebar">
                <div class="gb-widgets">

                    <!-- Widget: Email Subscribe -->
                    <div class="gb-widget">

                        <!-- Widget Title -->
                        <h4 class="gb-widget__title">عضویت در خبرنامه</h4>

                        <!-- Widget Content -->
                        <div class="gb-widget__content">
                            <p>آخرین اخبار را در ایمیل خود دریافت کنید</p>
                            <form class="uk-form">
                                <div class="uk-grid uk-grid-collapse">
                                    <div class="uk-width-7-10">
                                        <input type="text" placeholder="my@email.com" class="uk-width-1-1">
                                    </div>
                                    <div class="uk-width-3-10">
                                        <button class="uk-width-1-1 uk-button uk-button-primary">عضویت</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- / Widget Content -->

                    </div>
                    <!-- / Widget: Email Subscribe -->

                    <!-- Widget: Advertisement 300x300 -->
                    <div class="gb-widget">

                        <!-- Widget Title -->
                        <h4 class="gb-widget__title">تبلیغات</h4>

                        <!-- Widget Content -->
                        <div class="uk-text-center gb-widget__content">
                            <a href="#"><img src="{% static 'img/gnulinux.png' %}" alt="Placeholder"></a>
                        </div>
                        <!-- / Widget Content -->

                    </div>
                    <!-- / Widget: Advertisement 300x300 -->

                    <!-- Widget: Tag Cloud -->
                    <div class="gb-widget">

                        <!-- Widget Title -->
                        <h4 class="gb-widget__title">Tag Cloud</h4>

                        <!-- Widget Content -->
                        <div class="uk-text-center gb-widget__content">
                            <a href="archive-tags.html" class="tag">CSS</a>
                            <a href="archive-tags.html" class="tag">Drupal</a>
                            <a href="archive-tags.html" class="tag">HTML</a>
                            <a href="archive-tags.html" class="tag">Javascript</a>
                            <a href="archive-tags.html" class="tag">Joomla</a>
                            <a href="archive-tags.html" class="tag">JQuery</a>
                            <a href="archive-tags.html" class="tag">Logos</a>
                            <a href="archive-tags.html" class="tag">PHP</a>
                            <a href="archive-tags.html" class="tag">Wordpress</a>
                        </div>
                        <!-- / Widget Content -->

                    </div>
                    <!-- / Widget: Tag Cloud -->

                </div>
            </aside>
            <!-- / Sidebar -->

        </div>
        {% endfor %}
        <!-- / Site's Content: Main + Sidebar -->
    </div>

    <!-- Site's Footer -->
    <footer class="gb-footer">
        <div class="gb-container">

            <!-- Footer Columns with Heading and Links -->
            <div class="uk-grid uk-grid-collapse">

                <!-- Column #1 -->
                <div class="uk-width-small-1-2 uk-width-medium-1-4">
                    <div class="gb-footer__col">
                        <h4>HTML5</h4>
                        <!-- Column Title -->

                        <ul>
                            <!-- Link List -->
                            <li><a href="#">UIKit Templates</a></li>
                            <li><a href="#">Bootstrap Templates</a></li>
                            <li><a href="#">Foundation Templates</a></li>
                            <li><a href="#">Bulma Templates</a></li>
                            <li><a href="#">Skeleton Templates</a></li>
                            <li><a href="#">Materialize Templates</a></li>
                        </ul>
                    </div>
                </div>
                <!-- / Column #1 -->

                <!-- Column #2 -->
                <div class="uk-width-small-1-2 uk-width-medium-1-4">
                    <div class="gb-footer__col">
                        <h4>Resources</h4>
                        <!-- Column Title -->

                        <ul>
                            <!-- Link List -->
                            <li><a href="#">CSS Frameworks</a></li>
                            <li><a href="#">JS Frameworks</a></li>
                            <li><a href="#">jQuery Plugins</a></li>
                            <li><a href="#">Web Fonts</a></li>
                            <li><a href="#">Web Icons</a></li>
                            <li><a href="#">Mobile Design</a></li>
                        </ul>
                    </div>
                </div>
                <!-- / Column #2 -->

                <!-- Column #3 -->
                <div class="uk-width-small-1-2 uk-width-medium-1-4">
                    <div class="gb-footer__col">
                        <h4>CMS</h4>
                        <!-- Column Title -->

                        <ul>
                            <!-- Link List -->
                            <li><a href="#">Drupal</a></li>
                            <li><a href="#">WordPress</a></li>
                            <li><a href="#">Joomla</a></li>
                            <li><a href="#">Magento</a></li>
                            <li><a href="#">ForkCMS</a></li>
                            <li><a href="#">OctoberCMS</a></li>
                        </ul>
                    </div>
                </div>
                <!-- / Column #3 -->

                <!-- Column #4 -->
                <div class="uk-width-small-1-2 uk-width-medium-1-4">
                    <div class="gb-footer__col">
                        <h4>WordPress</h4>
                        <!-- Column Title -->

                        <ul>
                            <!-- Link List -->
                            <li><a href="#">WordPress Frameworks</a></li>
                            <li><a href="#">WordPress Starter Themes</a></li>
                            <li><a href="#">WordPress Themes</a></li>
                            <li><a href="#">WordPress Plugins</a></li>
                            <li><a href="#">WordPress eCommerce</a></li>
                            <li><a href="#">WooCommerce Plugins</a></li>
                        </ul>
                    </div>
                </div>
                <!-- / Column #4 -->

            </div>
            <!-- / Footer Columns with Heading and Links -->

            <!-- Footer Navigation Links -->
            <div class="gb-footer__nav">
                <a href="page.html">About</a>
                <a href="page.html">Contact</a>
                <a href="page.html">Advertise</a>
                <a href="page.html">Contribute</a>
                <a href="page.html">Privacy</a>
            </div>
            <!-- / Footer Navigation Links -->

            <!-- Credits? i dunno. -->
            <div class="gb-footer__copyright">
                Copyright © 2018 GeekBlog
            </div>
        </div>
    </footer>
    <!-- / Site's Footer -->

    <!-- UIKit Offcanvas/Mobile Menu: getuikit.com/v2/docs/offcanvas.html  -->
    <!-- Mobile Menu Contents -->
    <div id="mobile-menu" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:true}">
                <li><a href="index.html">Home</a></li>
                <li><a href="archive-categories.html">Tutorials</a></li>
                <li><a href="archive-categories.html">Random</a></li>
                <li class="uk-nav-header">Social Media</li>
                <!-- Heading within Menu -->
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Google+</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">RSS Feed</a></li>
            </ul>
        </div>
    </div>
    <!-- / Mobile Menu Contents -->
</body>

</html>