<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Mountain html template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" >
 
    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="stylesheets/colors/color1.css" id="colors">
    
    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="icon/favicon.ico" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
</head>                                 
<body class="header-sticky">
    <div class="loader">
        <span class="loader1 block-loader"></span>
        <span class="loader2 block-loader"></span>
        <span class="loader3 block-loader"></span>
    </div>  
    <div class="site-wrapper">
        <!-- Header -->            
        <header id="header" class="header clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-wrap clearfix">
                            <div id="logo" class="logo">
                                <a href="index.html" rel="home">
                                    <img src="images/logo.svg" alt="image">
                                </a>
                            </div><!-- /.logo -->
                            <div class="nav-wrap">
                                <div class="btn-menu"></div><!-- //mobile menu button -->
                                <nav id="mainnav" class="mainnav">
                                    <ul class="menu"> 
                                        <li class="home">
                                            <a href="index.html">Demo</a>
                                            <ul class="submenu"> 
                                                <li><a href="index.html">Demo 1</a></li>
                                                <li><a href="index-v2.html">Demo 2</a></li>
                                                <li><a href="index-v3.html">Demo 3</a></li>
                                                <li><a href="index-v4.html">Demo 4</a></li>
                                            </ul><!-- /.submenu -->
                                        </li>
                                        <li><a href="#">My work</a>
                                            <ul class="submenu"> 
                                                <li class="sub-parent"><a href="#">Grid Simple Layout</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="grid-2-columns.html">Grid 2 columns</a></li>
                                                        <li><a href="grid-3-columns.html">Grid 3 columns</a></li>
                                                        <li><a href="grid-4-columns.html">Grid 4 columns</a></li>
                                                        <li><a href="grid-5-columns.html">Grid 5 columns</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                                <li class="sub-parent"><a href="#">Gallery Alt Layout</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="gallery-2-columns.html">Gallery 2 columns</a></li>
                                                        <li><a href="gallery-3-columns.html">Gallery 3 columns</a></li>
                                                        <li><a href="gallery-4-columns.html">Gallery 4 columns</a></li>
                                                        <li><a href="gallery-5-columns.html">Gallery 5 columns</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                                <li class="sub-parent"><a href="#">Grid Masonry Layout</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
                                                        <li><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
                                                        <li><a href="masonry-4-columns.html">Masonry 4 columns</a></li>
                                                        <li><a href="masonry-5-columns.html">Masonry 5 columns</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                                <li class="sub-parent"><a href="mywork-justify-layout.html">Justify Layout</a></li>
                                                <li class="sub-parent"><a href="#">Work Details</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="gallery-list.html">Gallery List</a></li>
                                                        <li><a href="gallery-grid.html">Gallery Grid</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                            </ul><!-- /.submenu -->
                                        </li>
                                        <li><a href="about.html">About Us</a></li>                  
                                        <li><a href="#">Journal</a>
                                            <ul class="submenu"> 
                                                <li class="sub-parent"><a href="#">Blog Grid / Masonry</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="blog-grid-masonry-2-columns.html">Grid 2 columns</a></li>
                                                        <li><a href="blog-grid-masonry-3-columns.html">Grid 3 columns</a></li>
                                                        <li><a href="blog-grid-masonry-4-columns.html">Grid 4 columns</a></li>
                                                        <li><a href="blog-grid-masonry-sidebar-right.html">With sidebar right</a></li>
                                                        <li><a href="blog-grid-masonry-sidebar-left.html">With sidebar left</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                                <li class="sub-parent"><a href="#">Blog Lager Image</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="blog-sidebar-right.html">With Sidebar Right</a></li>
                                                        <li><a href="blog-sidebar-left.html">With Sidebar Left</a></li>
                                                        <li><a href="blog-without-sidebar.html">Without Sidebar</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                                <li class="sub-parent"><a href="#">Pagination</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="pagination-page.html">Pager</a></li>
                                                        <li><a href="pagination-numeric.html">Numeric</a></li>
                                                        <li><a href="pagination-page-numeric.html">Pager &amp; Numeric</a></li>
                                                        <li><a href="pagination-loadmore.html">Load More</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                                <li class="sub-parent"><a href="#">Single Post</a>
                                                    <ul class="submenu"> 
                                                        <li><a href="featured-header.html">Featured Image In Header</a></li>
                                                        <li><a href="featured-content.html">Featured Image In Content</a></li>
                                                        <li><a href="blog-single-without-sidebar.html">Without Sidebar</a></li>
                                                        <li><a href="blog-single-sidebar-right.html">With Sidebar Right</a></li>
                                                        <li><a href="blog-single-sidebar-left.html">With Sidebar Left</a></li>
                                                    </ul><!-- /.submenu -->
                                                </li>
                                            </ul><!-- /.submenu -->
                                        </li>                         
                                        <li><a href="shoponline.html">Shop Online </a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul><!-- /.menu -->
                                </nav><!-- /.mainnav -->  
                            </div><!-- /.nav-wrap -->
                            <ul class="menu-extra">
                                <li class="shopping-cart">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="shopping-cart-items-count no-items"></span>
                                    </a>
                                    <div class="submenu">
                                        <div class="widget_shopping_cart_content">
                                            <ul class="cart_list product_list_widget ">
                                                <li>
                                                    <a href="#" class="box-img">
                                                        <img src="images/shop/11-180x180.jpg" alt="images">
                                                    </a>
                                                    <div class="content-box">
                                                        <a href="#">Aztec Print Socks
                                                        </a>
                                                        <span class="quantity">
                                                            2 × £20.00
                                                        </span>
                                                    </div>
                                                    <a href="#" class="delete-product">
                                                        x
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="box-img">
                                                        <img src="images/shop/4-180x180.jpg" alt="images">
                                                    </a>
                                                    <div class="content-box">
                                                        <a href="#">Embroidered Belt 
                                                        </a>
                                                        <span class="quantity">
                                                            2 × £35.00
                                                        </span>
                                                    </div>
                                                    <a href="#" class="delete-product">
                                                        x
                                                    </a>
                                                </li>
                                            </ul>
                                            <p class="total">
                                                <strong>Subtotal:</strong> 
                                                <span class="amount">£110.00</span>
                                            </p>
                                            <p class="wrap-buttons">
                                                <a href="#" class="button">
                                                    View Cart
                                                </a>
                                                <a href="#" class="link">Checkout</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                        
                                <li id ="s" class="search-box">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                    <div class="submenu">
                                        <div class="widget widget_search">
                                            <form role="search" method="get" class="search-form" action="#">
                                                <label>
                                                    <span class="screen-reader-text">Search for:</span>
                                                    <input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
                                                </label>
                                                <input type="submit" class="search-submit" value="Search">
                                            </form>
                                        </div>
                                    </div>
                                </li>
                        
                                <li class="off-canvas ">
                                    <a href="#"><i class="fa fa-bars"></i></a>
                                </li>
                            </ul>
                        </div><!-- /.header-wrap -->
                    </div>
                </div> <!-- /.row -->
            </div> <!--  /.container -->
        </header><!-- /.header -->
                
        <!-- Page title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">                    
                        <div class="page-title-heading">
                            <h1 class="title">BASIC TWO TONE FOULAR</h1>
                        </div><!-- /.page-title-captions --> 
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Products</a></li>
                                <li class="active">Basic Two Tone Foular</li>
                            </ul>                   
                        </div><!-- /.breadcrumbs --> 
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- /.page-title --> 

        <!-- Shop Detail -->
        <section class="shop-detail woocommerce blog blog-single without-sidebar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="images-shop-detail-wrap">
                            <div class="summary images-shop-detail">
                                <a href="images/shop/5.jpg" class="popup-gallery" >
                                    <img src="images/shop/5.jpg" alt="images"></a>
                            </div>
                            <div class="summary entry-summary">
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating">
                                        <span ></span>
                                    </div>
                                    <a href="#" class="woocommerce-review-link" >
                                        (<span class="count">2</span> customer reviews)
                                    </a>    
                                </div>
                                <p class="price"><span class="amount">£20.00</span></p>
                                <div>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                </div>                            
                                <form class="cart" method="post" enctype="multipart/form-data">
                                    <div class="quantity">
                                        <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text" size="4">
                                    </div>
                                    <input type="hidden" name="add-to-cart" value="184">
                                    <button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>
                                </form>
                                <div class="product_meta">
                                    <span class="posted_in">Category: <a href="#">Clothing</a>
                                    </span>
                                </div>
                            </div> 
                        </div>
                    </div> <!-- /.col-md-12 -->
                    <div class="col-md-12">
                        <div class="post-wrap">
                            <div class="woocommerce-tabs">
                                <ul class="tabs">
                                    <li class="description_tab active"><a href="#">Description</a></li>
                                    <li class="description_tab"><a href="#">Additional Information</a></li>
                                    <li class="description_tab"><a href="#">Reviews (2)</a></li>
                                </ul>
                                <article class="entry wc-tab">
                                    <div class="entry-wrapper">
                                        <div class="entry-content">
                                            <p>
                                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                            
                                                <img class="alignnone" src="images/shop/5.1.jpg" alt="images">
                                            
                                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                            </p>
                                        </div><!-- /entry-content -->
                                    </div>
                                </article><!-- /.entry -->

                                <div class="panel wc-tab">
                                    <div class="wc-tab-wrap color">
                                        <div class="name">Color</div>
                                        <div class="dest">Black, Grey</div>
                                    </div>
                                    <div class="wc-tab-wrap size">
                                        <div class="name">Size</div>
                                        <div class="dest">L</div>
                                    </div>
                                </div>

                                <div class="reviews wc-tab">
                                    <div class="comment clearfix">
                                       <ol class="commentlist">
                                            <li>
                                                <div class="comment_container">
                                                    <img src="images/member/b.jpg" alt="images">
                                                    <div class="comment-text">
                                                        <div class="star-rating"><span></span></div>
                                                        <p class="meta">
                                                            <strong >Cobus Bester</strong> – 
                                                            <span class="time">June 7, 2013</span>:
                                                        </p>
                                                        <p class="description">
                                                            Wonderful quality, and an awesome design. WooThemes ftw!
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="comment_container">
                                                    <img src="images/member/a.jpg" alt="images">
                                                    <div class="comment-text">
                                                        <div class="star-rating style1"><span></span></div>
                                                        <p class="meta">
                                                            <strong >Andrew</strong> – 
                                                            <span class="time">June 7, 2013</span>:
                                                        </p>
                                                        <p>
                                                            This t-shirt is awesome! Would recommend to everyone!
                                                        </p>
                                                        <p>
                                                            I’m ordering mine next week
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                       </ol>
                                    </div>
                                    <div class="review_form-wrapper">
                                        <div class="review_form">
                                            <h3>Add a review </h3>
                                            <form>
                                                <p class="comment-form-author">
                                                    <label for="author">Name 
                                                        <span class="required">*</span>
                                                    </label> 
                                                    <input name="author" type="text" >
                                                </p>
                                                <p class="comment-form-email">
                                                    <label for="author">Email 
                                                        <span class="required">*</span>
                                                    </label> 
                                                    <input name="email" type="text" >
                                                </p>
                                                <p class="comment-form-rating">
                                                    <label for="author">Your Rating</label>
                                                </p>
                                                <ul class="review-rating">
                                                    <li><a href="#">
                                                        <i class="fa fa-star-o"></i>
                                                    </a></li>
                                                    <li><a href="#">
                                                        <i class="fa fa-star-o"></i>
                                                    </a></li>
                                                    <li><a href="#">
                                                        <i class="fa fa-star-o"></i>
                                                    </a></li>
                                                    <li><a href="#">
                                                        <i class="fa fa-star-o"></i>
                                                    </a></li>
                                                </ul>
                                                <p class="comment_form_comment">
                                                    <label for="author">Your Review
                                                    </label>
                                                    <textarea name="comment"></textarea>
                                                </p>
                                                <p class="comment_form_submit">
                                                    <input name="submit" type="submit" id="submit" class="submit" value="Submit">
                                                </p>
                                            </form>   
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- /.woocommerce-tab -->
                            <div class="navigation post-navigation">
                                <ul class="nav-links">
                                    <li class="previous-post">
                                        <a href="#" rel="prev">
                                        <span class="meta-nav">Previous Post</span> 
                                        Living Your Own Fairytale</a>
                                    </li>
                                    <li class="next-post">
                                        <a href="#" rel="next"><span class="meta-nav">Next Post</span> Wrapping Stories Around</a>
                                    </li>  
                                </ul><!-- .nav-links -->
                            </div>
                            <div id="respond" class="comment-respond">
                                <h3 class="title comment-title">Leave a Reply</h3>
                                <form action="#" method="post" id="commentform" class="comment-form" novalidate=""> 
                                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>                     
                                    <div class="comment-infor">
                                        <fieldset class="name-container">
                                        
                                            <input type="text" id="author" placeholder="Name"  class="tb-my-input" name="author" tabindex="1" value="" size="32" aria-required="true">
                                        </fieldset>
                                        
                                        <fieldset class="email-container">
                                            
                                            <input type="text" id="email" placeholder="Email" class="tb-my-input" name="email" tabindex="2" value="" size="32" aria-required="true">
                                        </fieldset> 
                                        <fieldset class="email-container">
                                            
                                            <input type="text" id="website" placeholder="Website" class="tb-my-input" name="email" tabindex="2" value="" size="32" aria-required="true">
                                        </fieldset>
                                    </div>
                                    <div class="comment-message">
                                        <fieldset class="message">
                                            <textarea id="comment-message" name="comment" rows="8" tabindex="4"></textarea>
                                        </fieldset>
                                    </div>
                                    
                                    <p class="form-submit">
                                    <input name="submit" type="submit" id="comment-reply" class="submit" value="Post Comment"> 
                                    <input type="hidden" name="comment_post_ID" value="27" id="comment_post_ID">
                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                        </p>                
                                </form>
                            </div><!-- /#respond -->
                        </div><!-- /.post-wrap -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->   
        </section>

        <section class="flat-row related-produc">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="box-title">Related Products</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="woocommerce woocommerce-content-product three-columns">
                            <ul class="product">
                                <li>
                                    <div class="product-wrap entry">
                                        <div class="product-thumbnail">
                                            <img src="images/shop/11.jpg" alt="images">
                                        </div>
                                        <div class="product-info">
                                                <a class="information" href="shop-detail.html">
                                                    <h3>Aztec Print Socks</h3>
                                                    <div class="star-rating">
                                                        <span></span>
                                                    </div>
                                                    <span class="price">
                                                        <span class="mount">£20.00</span>
                                                    </span>
                                                </a>
                                                <a class="addtocart link" href="#">Add to cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-wrap entry">
                                        <div class="product-thumbnail">
                                            <img src="images/shop/4.jpg" alt="images">
                                        </div>
                                        <div class="product-info">
                                            <a class="information" href="shop-detail.html">
                                                <h3>Embroidered Belt</h3>
                                                <div class="star-rating">
                                                    <span></span>
                                                </div>
                                                <span class="price">£35.00</span>
                                            </a>
                                            <a class="addtocart link" href="#">Add to cart</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-wrap entry">
                                        <div class="product-thumbnail">
                                            <img src="images/shop/1.jpg" alt="images">
                                        </div>
                                        <div class="product-info">
                                            <a class="information" href="shop-detail.html">
                                                <h3>Print Blackpackw</h3>
                                                <div class="star-rating">
                                                    <span></span>
                                                </div>
                                                <span class="price">£18.00</span>
                                            </a>
                                            <a class="addtocart link" href="#">Add to cart</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Footer -->
        <div class="flat-footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="text-3" class="widget widget_text">            
                                <div class="textwidget">
                                    <img src="images/logo.svg" alt="Mountain">
                                </div>
                            </div>              
                        </div>
                    </div><!-- /.row -->
                 </div><!-- /.container -->
            </div><!-- /#page-footer -->

            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="social-links">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="copyright">
                                <div class="copyright-content">© Mountain 2015<span>•</span>15 Nicholson Street, New York   <span>•</span>   Tel: 1-888-345-6789<br>
                                    <span>Copyright © 2015 
                                        <a href="#">Themesflat</a>, Inc.</span> 
                                </div><!-- /.copyright-content -->
                            </div><!-- /.copyright -->
                        </div>
                    </div> <!-- /.row -->
                </div><!-- /.container -->
            </div>
        </div>
    </div>  <!-- /.site-wrapper -->

    <!-- Canvas -->
    <div id="off-canvas">
        <div class="off-canvas-wrap">
            <div id="text-5" class="widget widget_text">
                <h3 class="widget-title">About Mountain</h3>            
                <div class="textwidget">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived</p>
                    <div class="social-links">
                        <a target="_blank" href="https://twitter.com/themesflat">
                            <i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="https://facebook.com/themesflat"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-behance"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-rss"></i></a>
                    </div>
                </div>
            </div>      
        </div>
    </div>

    <!-- Go Top -->
    <a class="go-top">
    </a> 
    
    <!-- Javascript -->
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/jquery-ui.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="javascript/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="javascript/smoothscroll.js"></script>    
    <script type="text/javascript" src="javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>    
    <script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>