/* GeekBlog 1.0.0.0 by Angel Castillo */

/* ---------------------------------- */
/* Global Variables                   */
/* ---------------------------------- */
:root {
  --primary-color: #4472a3;
  --primary-color-darker: #3a638e;
  --dark-color: #333333;
}

/* ---------------------------------- */
/* General                            */
/* ---------------------------------- */
body {
  background: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--dark-color);
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  line-height: 1.188em;
  color: var(--dark-color);
}

/* ---------------------------------- */
/* General                            */
/* ---------------------------------- */
.gb-container {
  box-sizing: border-box;
  max-width: 1366px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
}

.gb-align-left {
  float: left;
}

.gb-align-right {
  float: right;
}

/* ---------------------------------- */
/* Top Nav                            */
/* ---------------------------------- */

.gb-topnav {
  background-color: var(--primary-color);
}

.gb-topnav > .gb-topnav__links {
  list-style-type: none;
  font-weight: 700;
  font-size: 13px;
  overflow: hidden;
}

.gb-topnav > .gb-topnav__links > li {
  float: left;
}

.gb-topnav > .gb-topnav__links > li:nth-last-child(-n+5) {
  float: right;
}

.gb-topnav > .gb-topnav__links > li > a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px 25px;
  border-right: 1px solid #507aa8;
}

.gb-topnav > .gb-topnav__links > li:first-child > a,
.gb-topnav > .gb-topnav__links > li:nth-last-child(2) > a,
.gb-topnav > .gb-topnav__links > li:last-child > a {
  border-left: 1px solid #507aa8;
}

.gb-topnav > .gb-topnav__links > li > a:hover {
  background-color: var(--dark-color);
}

.gb-topnav > .gb-topnav__links > li > .uk-visible-small {
  font-size: 14px;
}

/* ---------------------------------- */
/* Header                             */
/* ---------------------------------- */

.gb-header {
  margin: 50px 0;
}

.gb-site-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 39px;
}

.gb-site-title > a,
.gb-site-title > a:hover {
  color: var(--dark-color);
}

.gb-site-title > a > span,
.gb-site-title > a:hover > span {
  color: var(--primary-color);
}

.gb-searchform {
  margin-top: 10px;
}

.gb-searchform input {
  border-radius: 3px 0 0 3px;
}

.gb-searchform button {
  border-radius: 0 3px 3px 0;
}

@media screen and (max-width: 768px) {  
  .gb-site-title {
    text-align: center;
  }
  
  .gb-searchform {
    margin-top: 25px;
  }
}

/* ---------------------------------- */
/* Main                               */
/* ---------------------------------- */

.gb-content {
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  margin: 0;
}

.gb-main {
  padding: 25px 0;
  border-right: 1px solid #f3f3f3;
}

.gb-sidebar {
  padding: 25px 0 25px 25px;
}

@media screen and (max-width: 960px) {
  .gb-content {
    border-bottom: 0;
  }
  
  .gb-main {
    border-right: 0px;
    border-bottom: 1px solid #f3f3f3;
  }
  
  .gb-sidebar {
    padding-left: 0;
  }
}

/* ---------------------------------- */
/* Index Posts                        */
/* ---------------------------------- */

.gb-post-index > .gb-post-index__single {
  padding-right: 25px;
  margin-bottom: 25px;  
}

.gb-post-index > .gb-post-index__single:last-child {
  margin-bottom: 0;
}

.gb-post-index > .gb-post-index__single img {
  width: 100%;
  height: 165px;
  border-radius: 3px;
}

.gb-post-index > .gb-post-index__single h2 {
  padding-bottom: 15px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 8px;
}

.gb-post-index > .gb-post-index__single .meta {
  font-family: 'Nunito', sans-serif;
  font-size: 80%;
  color: #888;
  padding-bottom: 8px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 10px;
}

.gb-post-index > .gb-post-index__single p {
  color: #777;
  letter-spacing: 0.5px;
}

.gb-post-index__single ~ .gb-post-index__single {
  padding-top: 25px;
  border-top: 1px solid #f3f3f3;
}

@media screen and (max-width: 768px) {
  .gb-post-index > .gb-post-index__single {
    padding-right: 0;
  }
  
  .gb-post-index > .gb-post-index__single img {
    height: 375px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .gb-post-index > .gb-post-index__single img {
    height: 225px;
  }
}

/* ---------------------------------- */
/* Pagination                         */
/* ---------------------------------- */

.gb-pager {
  font-weight: 800;
  padding-top: 25px;
  border-top: 1px solid #f3f3f3;
  margin-top: 25px;
}

.gb-pager > .uk-pagination > li > span,
.gb-pager > .uk-pagination > li > a {
  padding: 6px 10px;
  border-radius: 3px;
}

/* ---------------------------------- */
/* Single Post                        */
/* ---------------------------------- */

.gb-post-single > .gb-post-single__content {
  padding-right: 25px;
  margin-bottom: 25px;  
}

.gb-post-single > .gb-post-single__content img {
  width: 100%;
  border-radius: 3px;
}

.gb-post-single > .gb-post-single__content h2 {
  font-size: 32px;
  padding-bottom: 25px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 8px;
}

.gb-post-single > .gb-post-single__content .meta {
  font-family: 'Nunito', sans-serif;
  font-size: 80%;
  color: #888;
  padding-bottom: 8px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 10px;
}

.gb-post-single > .gb-post-single__content .post-content {
  margin-top: 15px;
}

.gb-post-single > .gb-post-single__content .post-content h3 {
  font-size: 25px;
}

.gb-post-single > .gb-post-single__content .post-content h4 {
  font-size: 22px;
}

.gb-post-single > .gb-post-single__content .post-content h5 {
  font-size: 19px;
}

.gb-post-single > .gb-post-single__content .post-content h6 {
  font-size: 16px;
}

.gb-post-single > .gb-post-single__content .post-content p {
  color: #777;
  letter-spacing: 0.5px;
}

.gb-post-single > .gb-post-single__content .post-content hr {
  margin: 25px 0;
  border-color: #f3f3f3;
}

.gb-post-single > .gb-post-single__related {
  padding-right: 25px;  
  margin-top: 30px;
}

.gb-post-single > .gb-post-single__related h2 {
  font-size: 28px;
  padding-top: 25px;
  border-top: 1px solid #f3f3f3;
  margin-bottom: 25px; 
}

.gb-post-single > .gb-post-single__related .related-posts {
  font-size: 15px;
  font-weight: 800;
}

.gb-post-single > .gb-post-single__related .related-posts li {
  margin-bottom: 5px;
}

.gb-post-single > .gb-post-single__tags {
  font-weight: 800;
  margin-top: 25px;
}

.gb-post-single > .gb-post-single__comments {
  padding-right: 25px;  
  margin-top: 30px;
  margin-bottom: 25px;
}

.gb-post-single > .gb-post-single__comments h2 {
  font-size: 28px;
  padding-top: 25px;
  border-top: 1px solid #f3f3f3;
  margin-bottom: 15px; 
}

@media screen and (max-width: 768px) {
  .gb-post-single > .gb-post-single__content,
  .gb-post-single > .gb-post-single__related,
  .gb-post-single > .gb-post-single__tags,
  .gb-post-single > .gb-post-single__comments {
    padding-right: 0;
  }
}

/* */

.gb-page-single > .gb-page-single__content {
  padding-right: 25px;
  margin-bottom: 25px;  
}

.gb-page-single > .gb-page-single__content h2 {
  font-size: 32px;
  padding-bottom: 10px;
}

.gb-page-single > .gb-page-single__content .meta {
  font-family: 'Nunito', sans-serif;
  font-size: 80%;
  color: #888;
  padding-bottom: 8px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 10px;
}

.gb-page-single > .gb-page-single__content .page-content {
  margin-top: 15px;
}

.gb-page-single > .gb-page-single__content .page-content h3 {
  font-size: 25px;
}

.gb-page-single > .gb-page-single__content .page-content h4 {
  font-size: 22px;
}

.gb-page-single > .gb-page-single__content .page-content h5 {
  font-size: 19px;
}

.gb-page-single > .gb-page-single__content .page-content h6 {
  font-size: 16px;
}

.gb-page-single > .gb-page-single__content .page-content p {
  color: #777;
  letter-spacing: 0.5px;
}

.gb-page-single > .gb-page-single__content .page-content hr {
  margin: 25px 0;
  border-color: #f3f3f3;
}

/* ---------------------------------- */
/* Archive Pages                      */
/* ---------------------------------- */

.gb-archive-page > .gb-archive-page__rss {
  padding-right: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 25px;
}

.gb-archive-page > .gb-archive-page__rss h4,
.gb-archive-page > .gb-archive-page__rss a {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

.gb-archive-page > .gb-archive-page__rss a {
  color: #FF851B;
}

.gb-archive-page > .gb-archive-page__posts > .archive-title {
  font-size: 38px;
  padding-bottom: 25px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 25px;
}

.gb-archive-page > .gb-archive-page__posts > .archive-description {
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 30px;
}

/* ---------------------------------- */
/* Sidebar                            */
/* ---------------------------------- */

.gb-widgets > div~div {
  margin-top: 25px;
}

.gb-widget > .gb-widget__title {
  background: var(--primary-color);
  color: #ffffff;
  text-align: center;
  padding: 15px;
  border-radius: 3px 3px 0 0;
  margin: 0;
}

.gb-widget > .gb-widget__content {
  background: #f3f3f3;
  padding: 15px;
}

.gb-widget__content > .uk-form button {
  border-radius: 0 3px 3px 0;
}

.gb-widget__content > .tag {
  display: inline-block;
  background: var(--primary-color);
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 5px 20px;
  border-radius: 3px;
  margin: 5px 10px 5px 5px;
}
        
.gb-widget__content > .tag:hover {
  background: var(--primary-color-darker);
}

/* ---------------------------------- */
/* Footer                             */
/* ---------------------------------- */

.gb-footer {
  background: var(--dark-color);
  color: #ffffff;
  padding: 0 0 25px;
  margin-top: 50px;
}

.gb-footer .uk-grid {
  border-bottom: 1px solid #444444;
}

.gb-footer .uk-width-medium-1-4:not(:first-child) {
  border-left: 1px solid #444444;
}

.gb-footer .uk-width-medium-1-4 > .gb-footer__col {
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 25px;
  margin-left: 50px;
}

.gb-footer .uk-width-medium-1-4 > .gb-footer__col > h4 {
  color: #fff;
}

.gb-footer .uk-width-medium-1-4 > .gb-footer__col > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gb-footer .uk-width-medium-1-4 > .gb-footer__col > ul > li {
  margin: 5px 0;
}

.gb-footer .uk-width-medium-1-4 > .gb-footer__col > ul > li > a {
  color: #999;
}

.gb-footer__nav {
  text-align: center;
  padding: 25px 0;
  border-bottom: 1px solid #444;
}

.gb-footer__nav > a {
  color: #ffffff;
  font-weight: 700;
  margin: 0 25px;
}

.gb-footer__copyright {
  font-weight: 700;
  text-align: center;          
  padding-top: 25px;
}

@media screen and (max-width: 768px) {
  .gb-footer .uk-width-medium-1-4:not(:first-child) {
    border-left: 0px solid #444444;
  }
  
  .gb-footer .uk-width-medium-1-4:nth-child(1),
  .gb-footer .uk-width-medium-1-4:nth-child(2) {
    border-bottom: 1px solid #444444;
  }
  
  .gb-footer .uk-width-medium-1-4:nth-child(2),
  .gb-footer .uk-width-medium-1-4:nth-child(4) {
    border-left: 1px solid #444444;
  }
  
  .gb-footer__nav > a {
    margin: 0 10px;
  }
}

@media screen and (max-width: 480px) {
  .gb-footer .uk-width-medium-1-4:nth-child(1),
  .gb-footer .uk-width-medium-1-4:nth-child(2),
  .gb-footer .uk-width-medium-1-4:nth-child(3)  {
    border-bottom: 1px solid #444444;
  }
  
  .gb-footer .uk-width-medium-1-4:nth-child(2),
  .gb-footer .uk-width-medium-1-4:nth-child(4) {
    border-left: 0px solid #444444;
  }
  
  .gb-footer__nav > a {
    display: inline-block;
    margin: 10px;
  }
}

/* ---------------------------------- */
/* Mobile Menu                        */
/* ---------------------------------- */

.uk-nav-dropdown .uk-nav-header {
  color: #999
}

.uk-nav-dropdown .uk-nav-divider {
  border-top: 1px solid #E5E5E5
}

.uk-nav-dropdown ul a {
  color: #1D8ACB
}

.uk-nav-dropdown ul a:hover {
  color: #0B5F90
}

.uk-nav-navbar>li>a {
  color: #666
}

.uk-nav-navbar>li>a:focus,
.uk-nav-navbar>li>a:hover {
  background: #009dd8;
  color: #fff;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2)
}

.uk-nav-navbar .uk-nav-header {
  color: #999
}

.uk-nav-navbar .uk-nav-divider {
  border-top: 1px solid #E5E5E5
}

.uk-nav-navbar ul a {
  color: #1D8ACB
}

.uk-nav-navbar ul a:hover {
  color: #0B5F90
}

.uk-nav-offcanvas>li>a {
  color: #ccc;
  padding: 10px 15px;
  border-top: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5)
}

.uk-nav-offcanvas>.uk-open>a,
html:not(.uk-touch) .uk-nav-offcanvas>li>a:focus,
html:not(.uk-touch) .uk-nav-offcanvas>li>a:hover {
  background: #404040;
  color: #fff;
  outline: 0
}

html .uk-nav.uk-nav-offcanvas>li.uk-active>a {
  background: #1a1a1a;
  color: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
}

.uk-nav-offcanvas .uk-nav-header {
  color: #777;
  margin-top: 0;
  border-top: 1px solid rgba(0, 0, 0, .3);
  background: #404040;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5)
}

.uk-nav-offcanvas .uk-nav-divider {
  border-top: 1px solid rgba(255, 255, 255, .01);
  margin: 0;
  height: 4px;
  background: rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
}

.uk-nav-offcanvas ul a {
  color: #ccc
}

html:not(.uk-touch) .uk-nav-offcanvas ul a:hover {
  color: #fff
}

.uk-nav-offcanvas {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .05)
}

.uk-nav-offcanvas .uk-nav-sub {
  border-top: 1px solid rgba(0, 0, 0, .3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05)
}